p{
    color:red;
 }
 h1, h2, h3{
    color:blue;
}
h1, h2, h3{
    background-color:red;
}
a h1{
    text-align:center;
    font-size:5rem;
    }
    body{
        background-color:rgb(20, 20, 148);
    }
    ol{color:red}
    ul{color:red}
    a{color:red}
    p{font-size:2rem;}